// font colors

// holographic
$holo-pink: rgb(247, 168, 234);
$holo-purple: rgba(87,125,242, 1);
$holo-lightpurple: rgb(189, 175, 241);
$holo-lightblue: rgb(173,229,246);
$holo-yellow: rgb(248, 234, 209);

$white: #cdcdcd;


//background
$bg-color: rgb(30,22,50);

